/* Wrapper invisível que apenas empilha os dois blocos em coluna */
.sidebarWrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px; /* Distância exata entre o card da nota e o card de info */
}

/* --- Bloco Separado da Nota --- */
.scoreCard {
  background-color: #2f3236;
  border-radius: 5px;
  padding: 12px 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
}

.scoreTitle {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.9;
}

.scoreValueContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.starIcon {
  color: #ffd700;
  flex-shrink: 0;
}

.scoreValue {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

/* --- Bloco Separado de Informações --- */
.infoCard {
  background-color: #2f3236;
  border-radius: 5px;
  padding: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  min-height: 150px;
}

.animeDescriptionList {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.animeDescriptionTerm {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.animeDescriptionDetail {
  font-size: 12px;
  margin-top: 1px;
  margin-bottom: 10px;
}

.animeDescriptionDetail:last-child {
  margin-bottom: 0;
}

.magazineLink,
.publisherLink {
  transition: color ease 0.2s;
}
.magazineLink:hover,
.publisherLink:hover {
  color: #589de8;
}

.relatedLinks {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.relatedLinksTitle {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 600;
}

/* Link Website */
.linkWebsite {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  transition: background-color ease 0.2s;
}

.linkWebsite:hover {
  background-color: #267ce4;
}

.iconWebsiteContainer {
  background-color: #1b68c6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconWebsite {
  color: #ffffff;
  display: block;
}

.linkWebsite:hover .iconWebsiteContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link X/Twitter */
.linkXTwitter {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  transition: background-color ease 0.2s;
}

.linkXTwitter:hover {
  background-color: #151515;
}

.iconXTwitterContainer {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconXTwitter {
  color: #ffffff;
  display: block;
}

.linkXTwitter:hover .iconXTwitterContainer {
  box-shadow: 0 1px 4px rgba(246, 245, 245, 0.25);
}

.linkText {
  color: #ffffff;
}

/* Link Instagram */
.linkInstagram {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  transition: background-color ease 0.2s;
}

.linkInstagram:hover {
  background-color: #df5ab5;
}

.iconInstagramContainer {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconInstagram {
  color: #ffffff;
  display: block;
}

.linkInstagram:hover .iconInstagramContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.linkText {
  color: #ffffff;
}

/* Link Pixiv */
.linkPixiv {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  transition: background-color ease 0.2s;
}

.linkPixiv:hover {
  background-color: #0196fa;
}

.iconPixivContainer {
  background-color: #0196fa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconPixiv {
  color: #ffffff;
  display: block;
}

.linkPixiv:hover .iconPixivContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.linkText {
  color: #ffffff;
}

/* Link Youtube */
.linkYoutube {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  transition: background-color ease 0.2s;
}

.linkYoutube:hover {
  background-color: #ff0000;
}

.iconYoutubeContainer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconYoutube {
  color: #ff0000;
  display: block;
}

.linkYoutube:hover .iconYoutubeContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* <---------------------------------------------------------------------> */
/* Bloco 4: Streamings Links */
.streamingsLinks {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.streamingsLinksTitle {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 600;
}

/* Link Prime Video */
.linkPrimeVideo {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkPrimeVideo:hover {
  background-color: #1a98ff;
}

.iconlinkPrimeVideoContainer {
  background-color: #1a98ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkPrimeVideo {
  color: #ffffff;
  display: block;
}

.linkPrimeVideo:hover .iconlinkPrimeVideoContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link BiliBili */
.linkBiliBili {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkBiliBili:hover {
  background-color: #00a1d6;
}

.iconlinkBiliBiliContainer {
  background-color: #00a1d6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkBiliBili {
  color: #ffffff;
  display: block;
}

.linkBiliBili:hover .iconlinkBiliBiliContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link Crunchrol */
.linkCrunchroll {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkCrunchroll:hover {
  background-color: #ff5e00;
}

.iconlinkCrunchrollContainer {
  background-color: #ff5e00;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkCrunchroll {
  color: #ffffff;
  display: block;
}

.linkCrunchroll:hover .iconlinkCrunchrollContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link Netflix */
.linkNetflix {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkNetflix:hover {
  background-color: #e50914;
}

.iconlinkNetflixContainer {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkNetflix {
  color: #ffffff;
  display: block;
}

.linkNetflix:hover .iconlinkNetflixContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link RetroCrush */
.linkRetroCrush {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkRetroCrush:hover {
  background-color: #22c7bd;
}

.iconlinkRetroCrushContainer {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkRetroCrush {
  color: #ffffff;
  display: block;
}

.linkRetroCrush:hover .iconlinkRetroCrushContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link Hulu */
.linkHulu {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkHulu:hover {
  background-color: #1ce783;
}

.iconlinkHuluContainer {
  background-color: #1ce783;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkHulu {
  color: #ffffff;
  display: block;
}

.linkHulu:hover .iconlinkHuluContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link HiDive */
.linkHiDive {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkHiDive:hover {
  background-color: #00a4e4;
}

.iconlinkHiDiveContainer {
  background-color: #00a4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkHiDive {
  color: #ffffff;
  display: block;
}

.linkHiDive:hover .iconlinkHiDiveContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link U-Next */
.linkUNext {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkUNext:hover {
  background-color: #010d1d;
}

.iconlinkUNextContainer {
  background-color: #000a17;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkUNext {
  color: #ffffff;
  display: block;
}

.linkUNext:hover .iconlinkUNextContainer {
  box-shadow: 0 1px 4px rgba(246, 245, 245, 0.25);
}

/* Link Abema TV */
.linkAbemaTV {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkAbemaTV:hover {
  background-color: #151515;
}

.iconlinkAbemaTVContainer {
  background-color: #000a17;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkAbemaTV {
  color: #ffffff;
  display: block;
}

.linkAbemaTV:hover .iconlinkAbemaTVContainer {
  box-shadow: 0 1px 4px rgba(246, 245, 245, 0.25);
}

/* Link ADN */
.linkADN {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkADN:hover {
  background-color: #032d46;
}

.iconlinkADNContainer {
  background-color: #001c3d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkADN {
  color: #ffffff;
  display: block;
}

.linkADN:hover .iconlinkADNContainer {
  box-shadow: 0 1px 4px rgba(246, 245, 245, 0.25);
}

/* Link Muse Asia */
.linkMuseAsia {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkMuseAsia:hover {
  background-color: #fdd100;
}

.iconlinkMuseAsiaContainer {
  background-color: #fd921e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkMuseAsia {
  color: #ffffff;
  display: block;
}

.linkMuseAsia:hover .iconlinkMuseAsiaContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link Laftel TV */
.linkLaftel {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkLaftel:hover {
  background-color: #7b6ef6;
}

.iconlinkLaftelContainer {
  background-color: #121318;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkLaftel {
  color: #ffffff;
  display: block;
}

.linkLaftel:hover .iconlinkLaftelContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link TVer */
.linkTVer {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkTVer:hover {
  background-color: #00cfe9;
}

.iconlinkTVerContainer {
  background-color: #0091cd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkTVer {
  color: #ffffff;
  display: block;
}

.linkTVer:hover .iconlinkTVerContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link iQIYI */
.linkIQIYI {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkIQIYI:hover {
  background-color: #00dc5a;
}

.iconlinkIQIYIContainer {
  background-color: #00dc5a;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkIQIYI {
  color: #ffffff;
  display: block;
}

.linkIQIYI:hover .iconlinkIQIYIContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link Tubi */
.linkTubi {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkTubi:hover {
  background-color: #7800cf;
}

.iconlinkTubiContainer {
  background-color: #4401a1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkTubi {
  color: #ffffff;
  display: block;
}

.linkTubi:hover .iconlinkTubiContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Link d Anime Store */
.linkDAnime {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkDAnime:hover {
  background-color: #eb5528;
}

.iconlinkDAnimeContainer {
  background-color: #eb5528;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkDAnime {
  color: #ffffff;
  display: block;
}

.linkDAnime:hover .iconlinkDAnimeContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* <---------------------------------------------------------------------> */
/* Bloco 5: Store Links */
.storeLinks {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.storeLinksTitle {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 600;
}

/* Amazon Store */
.linkAmazonStore {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkAmazonStore:hover {
  background-color: #f37025;
}

.iconlinkAmazonStoreContainer {
  background-color: #f37025;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkAmazonStore {
  color: #ffffff;
  display: block;
}

.linkAmazonStore:hover .iconlinkAmazonStoreContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* CD Japan */
.linkCDJapan {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkCDJapan:hover {
  background-color: #0099cc;
}

.iconlinkCDJapanContainer {
  background-color: #0099cc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkCDJapan {
  color: #ffffff;
  display: block;
}

.linkCDJapan:hover .iconlinkCDJapanContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Mercado Livre */
.linkMercadoLivre {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkMercadoLivre:hover {
  background-color: #ffe600;
}

.iconlinkMercadoLivreContainer {
  background-color: #ffe600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkMercadoLivre {
  color: #ffffff;
  display: block;
}

.linkMercadoLivre:hover .iconlinkMercadoLivreContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Rakuten */
.linkRakuten {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkRakuten:hover {
  background-color: #bf0000;
}

.iconlinkRakutenContainer {
  background-color: #bf0000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkRakuten {
  color: #ffffff;
  display: block;
}

.linkRakuten:hover .iconlinkRakutenContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Shopee */
.linkShopee {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkShopee:hover {
  background-color: #ee4d2d;
}

.iconlinkShopeeContainer {
  background-color: #ee4d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkShopee {
  color: #ffffff;
  display: block;
}

.linkShopee:hover .iconlinkShopeeContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Ebay */
.linkEbay {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkEbay:hover {
  background-color: #0064d2;
}

.iconlinkEbayContainer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkEbay {
  color: #ffffff;
  display: block;
}

.linkEbay:hover .iconlinkEbayContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Otakuya-san */
.linkOtakuyasan {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkOtakuyasan:hover {
  background-color: #09a8e0;
}

.iconlinkOtakuyasanContainer {
  background-color: #09a8e0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkOtakuyasan {
  color: #ffffff;
  display: block;
}

.linkOtakuyasan:hover .iconlinkOtakuyasanContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* HMV & Books */
.linkHMV {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkHMV:hover {
  background-color: #e4004f;
}

.iconlinkHMVContainer {
  background-color: #e4004f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkHMV {
  color: #ffffff;
  display: block;
}

.linkHMV:hover .iconlinkHMVContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Honto */
.linkHonto {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkHonto:hover {
  background-color: #0086cd;
}

.iconlinkHontoContainer {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkHonto {
  color: #ffffff;
  display: block;
}

.linkHonto:hover .iconlinkHontoContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Toranoana */
.linkToranoana {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkToranoana:hover {
  background-color: #d91e23;
}

.iconlinkToranoanaContainer {
  background-color: #f5b411;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkToranoana {
  color: #ffffff;
  display: block;
}

.linkHToranoana:hover .iconlinkToranoanaContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Animate */
.linkAnimate {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.linkAnimate:hover {
  background-color: #4067b0;
}

.iconlinkAnimateContainer {
  background-color: #335eac;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconlinkAnimate {
  color: #ffffff;
  display: block;
}

.linkAnimate:hover .iconlinkAnimateContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* <---------------------------------------------------------------------> */
/* Bloco 5: Review e Editar */
.reviewEdit {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.reviewEditTitle {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 600;
}

/* Botão Review */
.btnReview {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.btnReview:hover {
  background-color: #267ce4;
}

.iconbtnReviewContainer {
  background-color: #1b68c6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconbtnReview {
  color: #ffffff;
  display: block;
}

.btnReview:hover .iconbtnReviewContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

/* Botão Editar */
.btnEdit {
  background-color: #2f3236;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  cursor: pointer;

  transition: background-color ease 0.2s;
}

.btnEdit:hover {
  background-color: #267ce4;
}

.iconbtnEditContainer {
  background-color: #1b68c6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  flex-shrink: 0;
}

.iconbtnEdit {
  color: #ffffff;
  display: block;
}

.btnEdit:hover .iconbtnEditContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
