.page {
  min-height: 100vh;
}

.publisherSlugContainer {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 16px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1280px;
  margin-top: 20px;
  margin-inline: auto;
  gap: 30px;
}

.centralContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
